datasets/demagog_nlp_cz/*
datasets/twitter_pl/*
datasets/getting_real_about_fake_news/*
datasets/oko.press/*
datasets/ready2use/*
datasets/MagaCOV/*
datasets/liar/*
datasets/PHEME_rumor_dataset/*
datasets/politifact/*

twitter_credentials.json

.ipynb_checkpoints
*/.ipynb_checkpoints
*/__pycache__/*

word2vec/*
